<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>name</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name:{{firstName+" "+lastName}}
</div>
<script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl', function ($scope){
        $scope.firstName="Jonny";
        $scope.lastName="Dang";
    });
</script>
</body>
</html>